.resize {
    width: 620px;
    height: auto;
}

image {
    border-bottom: 50px;
}

.navbar-fixed-top {
    border-bottom: 100px;
}

#content {
    margin-top: 48px;
}

#content-image {
    margin-top: 30px;
}

.overflow-fix {
    overflow:hidden;
    height:105px;
}

.paragraph-fix {
    height: 75px;
}