.resize {
    width: 620px;
    height: auto;
}

image {
    border-bottom: 50px;
}

.navbar-fixed-top {
    border-bottom: 100px;
    background-color: #00bc9d;
}

#content {
    margin-top: 48px;
}

#content-image {
    margin-top: 30px;
}

.overflow-fix {
    overflow:hidden;
    height:110px;
}

.paragraph-fix {
    height: 70px;
    overflow:hidden;
}

.blockquote-fixed {
    margin-left: -8.7%;
    margin-top: 15px;
}

body {
    background-color: #2c3e4f;
}

p {
    color: #ffffff;
}
